<% download_links = download_link_info(controller.controller_name) %>
<% unless download_links.empty? %>
  <div class="tdl-search-widgets">
    <ul class="tdl-right-nav">
      <% download_links.each do |link| %>
        <% # Check if there's label stuff, and build attributes if so. %>
        <% dl_stuff = link[:label] ? "id='file_download' target='_blank' data-label='#{link[:label]}'".html_safe : '' %>
        <% # Add the download attribute. %>
        <% #dl_stuff << (link[:download].present? ? " download='#{link[:download]}'".html_safe : '') %>
      <li>
        <span class="<%= link[:icons] %>" aria-hidden="true"></span>
        <a class="<%= link[:class] %>" data-turbolinks="false"
          href="<%= link[:url] %>"
          data-pid="<%= @presenter.id %>"
          download="<%= @presenter.id %>"
          data-identifier="<%= @presenter.id.gsub(/[^0-9a-z ]/i, '') %>"
          data-site="Tufts Archival Research Center"
          data-author="<%= strip_tags(@presenter.creator.first) unless @presenter.creator.empty? %>"
          data-itemauthor="<%= strip_tags(@presenter.creator.first) unless @presenter.creator.empty? %>"
          data-iteminfo2="<%= strip_tags(@presenter.creator.first) unless @presenter.creator.empty? %>"
          data-iteminfo3="<%= strip_tags(@presenter.permanent_url.first) unless @presenter.permanent_url.nil? || @presenter.permanent_url.empty? %>"
          data-itemdate="<%= strip_tags(@presenter.date.first) unless @presenter.date.nil? || @presenter.date.empty? %>"
          <% if @presenter.model.model_name.name == "Ead" %>
            data-itemtitle="<%=strip_tags(@presenter.title.first) unless @presenter.title.empty? %>"
          <% else %>
            data-itemtitle="<%= strip_tags(@presenter.member_of_collections.first) unless @presenter.member_of_collections.nil? || @presenter.member_of_collections.empty? %>"
          <% end %>

          <% if defined? series_title %>
            data-itemsubtitle="<%= strip_tags(series_title) %>"
          <% else %>
            data-itemsubtitle="<%=strip_tags(@presenter.title.first) unless @presenter.title.empty? %>"
          <% end %>

          <% if defined? series_id %>
            data-itemvolume="<%= strip_tags(series_id) %>"
            data-callnumber="<%= strip_tags(series_id.split('.').first) unless @presenter.source.nil? || @presenter.source.empty? %>"
          <% else %>
            data-itemvolume="<%= j @presenter.id %>"
            <% if defined? unitid %>
              data-callnumber="<%= strip_tags(unitid) %>"
            <% else %>
              data-callnumber="<%= strip_tags(@presenter.source.first) unless @presenter.source.nil? || @presenter.source.empty? %>"
            <% end %>
          <% end %>
          <%= dl_stuff %>>
          <%= link[:text] %>
        </a>
      </li>
     <% end %>
    </ul>
  </div>
<% end %>
