      <div class="pull-left tdl-search-widgets">
        <span class="glyphicon glyphicon-arrow-left glyph-left" aria-hidden="true"></span>
        <% if controller.action_name == 'fa_overview'%>
          <a href="<%= Rails.application.routes.url_helpers.hyrax_ead_path(params[:id]) %>">Collection Home</a>
        <% elsif controller.action_name == 'fa_series' %>
          <a data-turbolinks='false' href="<%= Rails.application.routes.url_helpers.fa_overview_path(params[:id]) %>"><%= @collection_title %></a> > <%= @series_full_title %>
        <% end %>
      </div>

      <% if controller.action_name == 'fa_overview'%>
        <div class="pull-right tdl-search-widgets" style="display: none;">    <!-- TBD display: none; for now until pdfs become available -->
          <span class="glyphicon glyphicon-file glyph-left" aria-hidden="true"></span>
          <a href="/file_assets/pdf/<%= params[:id] %>"></i>Download Collection Guide (PDF)</a>    <!-- TBD this route is probably wrong -->
        </div>
      <% end %>
