<dl class="metadatapane">
  <% unless @presenter.description.empty? %>
    <%
      full_description = ''
      @presenter.description.each do |description|
        full_description += (full_description.empty? ? "" : '<br/><br/>') + description
      end
    %>
    <tr><th>Description</th>
    <td>
    <ul class='tabular'><li itemprop="about" itemscope itemtype="http://schema.org/Thing" class="attribute attribute-subject">
      <%= raw MetadataMethods.read_more_or_less(full_description, 400) %>
    </ul>
    </td></tr>
  <% end %>

  <%
    steward = @presenter.steward
    is_part_of = @presenter.is_part_of
    steward_ary = Array.wrap(steward)
    is_dca = (steward.present? && steward_ary.first.downcase == "dca")

    if (is_part_of.present? && (steward.present? && Array.wrap(steward).first.downcase == "tisch"))
      collections = nil
      if is_part_of.present?
        is_part_of = is_part_of.first
        search_path = "/catalog?q=" + URI::encode(is_part_of) + "&search_field=is_part_of"
  %>
    This object is in collection
    <ul class="tabular">
      <li class="attribute attribute-source">
        <a href="<%= search_path %>"><%= is_part_of %></a>
      </li>
    </ul>
  <%
      end
    else
      # It has no solr "source" field, so it isn't in a collection with an EAD, but
      # it might still be in a collection.
      collections = @presenter.member_of_collections
      if collections.present?
  %>
    This object is in collection
  <%
        collections.each do |collection|
          search_path = Rails.application.routes.url_helpers.search_catalog_path(:"f[member_of_collections_ssim][]" => collection)
  %>
    <ul class="tabular">
      <li class="attribute attribute-source">
        <a href="<%=search_path %>"><%= collection %></a>
      </li>
    </ul>
  <%
        end
      end
    end
  %>



  <%= @presenter.multi_attributes_to_html([:subject, :personal_name, :geog_name, :corporate_name]) %>
  <%= @presenter.attribute_to_html(:genre, { render_as: :linked }) %>
  <%= @presenter.attribute_to_html(:temporal, { render_as: :linked }) %>
  <%= @presenter.attribute_to_html(:permanent_url, {}) %>
  <%= @presenter.attribute_to_html(:bibliographic_citation, {}) %>

  <div class="well ">
    <dl class="dl-horizontal">
      <dt>ID: </dt>
      <dd><%= @presenter.id %></dd>
      <% if is_dca %>
    <% if @presenter.aspace_cuid.nil? && !@presenter.legacy_pid.nil? && !@presenter.legacy_pid.empty? %>
      <dt>Component ID: </dt>
      <dd><%= @presenter.legacy_pid.first %></dd>
    <% elsif !@presenter.aspace_cuid.nil? && !@presenter.aspace_cuid.empty? %>
      <dt>Component ID: </dt>
      <dd><%= @presenter.aspace_cuid.first %></dd>
    <% end %>
<% end %>
      <dt>To Cite:</dt>
      <dd><%= link_to(
        "DCA Citation Guide",
        "http://sites.tufts.edu/dca/about-us/research-help/reproductions-and-use/",
        target: "_blank") %>
        &nbsp;&nbsp;
        <%= link_to 'EndNote', polymorphic_path([main_app, @presenter], format: 'endnote') %>
      </dd>
      <% unless @presenter.rights_statement.nil? %>
        <dt>Usage:</dt>
        <dd><%= link_to(
          "Detailed Rights",
          @presenter.rights_statement.first,
          target: "_blank") %></dd>
      <% end %>
    </dl>
    <% if @presenter.solr_document._source["has_model_ssim"].include?("Image") %>
      <p>To request a high-resolution image, choose Add to List.</p>
    <% end %>
  </div>
</dl>
