<% sd = @presenter.solr_document %>
<dl class="metadatapane">
  <% unless(sd.description.nil?) %>
    <p class="descrip-field"><%= sd.description.first %></p>
  <% end %>
  <dt>This object appears in collection:</dt>
  <dd></dd>
  <%= @presenter.attribute_to_html(:subject, { linked: true }) %>

  <% unless sd._source[:purl_tesim].nil? %>
    <dt>Permanent URL</dt>
    <dd><%= sd._source[:purl_tesim].first %></dd>
  <% end %>
  <div class="well ">
    <dl class="dl-horizontal">
      <dt>ID: </dt>
      <dd><%= @presenter.id %></dd>
      <dt>To Cite:</dt>
      <dd><%= link_to(
        "DCA Citation Guide",
        "http://sites.tufts.edu/dca/about-us/research-help/reproductions-and-use/",
        target: "_blank") %></dd>
      <% unless sd._source[:rights_statement_tesim].nil? %>
        <dt>Usage:</dt>
        <dd><%= link_to(
          "Detailed Rights",
          sd._source[:rights_statement_tesim].first,
          target: "_blank") %></dd>
      <% end %>
    </dl>
    <p>To request a high-resolution image, choose Add to List.</p>
  </div>
</dl>
