<dl class="metadatapane">
  <% unless @presenter.description.nil? %>
    <% @presenter.description.each do |description| %>
      <p class="descrip-field"><%= description %></p>
    <% end %>
  <% end %>

  <dt>This object appears in collection:</dt>
  <dd>TBD</dd>
  <%= @presenter.attribute_to_html(:subject, { linked: true }) %>
  <%= @presenter.attribute_to_html(:genre, { linked: true }) %>
  <%= @presenter.attribute_to_html(:permanent_url, { linked: true }) %>

  <div class="well ">
    <dl class="dl-horizontal">
      <dt>ID: </dt>
      <dd><%= @presenter.id %></dd>
      <dt>To Cite:</dt>
      <dd><%= link_to(
        "DCA Citation Guide",
        "http://sites.tufts.edu/dca/about-us/research-help/reproductions-and-use/",
        target: "_blank") %></dd>
      <% unless @presenter.rights_statement.nil? %>
        <dt>Usage:</dt>
        <dd><%= link_to(
          "Detailed Rights",
          @presenter.rights_statement.first,
          target: "_blank") %></dd>
      <% end %>
    </dl>
    <p>To request a high-resolution image, choose Add to List.</p>
  </div>
</dl>
