<div class="TOC affix-top">
<h6> About </h6>
<ul class="nav nav-tabs nav-stacked">
  <% current_url =  request.env['PATH_INFO'] %>
  <li <%= current_url == "/pages/index" ? "class=active_orange" : "" %>><a href="/pages/index">About Us</a></li>
  <li <%= current_url == "/contact" ? "class=active_orange" : "" %>><a href="/contact">Contact DCA</a></li>
  <li <%= current_url == "/pages/privacy.html" ? "class=active_orange" : "" %>><a href="/pages/privacy.html">Privacy Policy</a></li>
</ul>

<h6>Featured Exhibits and Collections</h6>
<ul class="nav nav-tabs nav-stacked">
  <li  <%= current_url == "/pages/dagomba_dance_drumming" ? "class=active_orange" : "" %>>
    <a href="/pages/dagomba_dance_drumming">Dagomba Dance Drumming</a></li>
  <li  <%= current_url == "/pages/e_scholarship" ? "class=active_orange" : "" %>><a href="/pages/e_scholarship">E Scholarship</a></li>
  <li  <%= current_url == "/pages/murrow_collection" ? "class=active_orange" : "" %>>
    <a href="/pages/murrow_collection">Edward R. Murrow Collection</a></li>
  <li  <%= current_url == "/pages/a_new_nation_votes" ? "class=active_orange" : "" %>>
    <a href="/pages/a_new_nation_votes">A New Nation Votes</a></li>
  <li  <%= current_url == "/pages/tufts_local_history" ? "class=active_orange" : "" %>><a href="/pages/tufts_local_history">Tufts and Local History</a></li>
  <li  <%= current_url == "/pages/tnemc" ? "class=active_orange" : "" %>>
    <a href="/pages/tnemc">Tufts New England Medical Center</a></li>
  <li <%= current_url == "/pages/wriston_collection" ? "class=active_orange" : "" %>>
    <a href="/pages/wriston_collection">Walter B. Wriston Collection</a></li>
  <li>
</ul>


<h6> Help</h6>
<ul class="nav nav-tabs nav-stacked">
  <li <%= current_url == "/pages/finding_aids" ? "class=active_orange" : "" %>><a href="/pages/finding_aids">Learn More About Finding Aids</a></li>
</ul>
</div>
