<h2>Explore Featured Exhibits & Collections</h2>
<ul class="thumbnails">
  <li class="span25">
    <div class="thumbnail">
      <a href="/pages/tufts_local_history"><%= image_tag('featured_collections/aloneintheeast-tuhome.jpg') %></a>
      <div class="caption">
        <a href="/pages/tufts_local_history"><h5>Tufts and local history</h5></a>


      </div>
    </div>
  </li>
  <li class="span25">
    <div class="thumbnail">
      <a href="/pages/e_scholarship"><%= image_tag('featured_collections/escholar-tuhome.jpg') %></a>
      <div class="caption">
        <a href="/pages/e_scholarship"><h5>E-scholarship</h5></a>
      </div>
    </div>
  </li>

  <li class="span25">
    <div class="thumbnail">
      <a href="/pages/murrow_collection"><%= image_tag('featured_collections/murrow-tuhome.jpg') %></a>
      <div class="caption">
        <a href="/pages/murrow_collection"><h5>Edward R. Murrow collection</h5></a>
      </div>
    </div>
  </li>

  <li class="span25">
    <div class="thumbnail">
      <a href="/pages/tnemc"><%= image_tag('featured_collections/tnemc-homepage.jpg') %></a>
      <div class="caption">
        <a href="/pages/tnemc"><h5>Historical New England Medical Center Archives</h5></a>

      </div>
    </div>
  </li>
  <li class="span25">
    <div class="thumbnail">
      <a href="/pages/a_new_nation_votes"><%= image_tag('featured_collections/election-homepage.png') %></a>
      <div class="caption">
        <a href="/about/a_new_nation_votes"><h5>A New Nation Votes</h5></a>

      </div>
    </div>
  </li>
  <li class="span25">
    <div class="thumbnail">
      <a href="/pages/dagomba_dance_drumming"><%= image_tag('featured_collections/drummers-tuhome.jpg') %></a>
      <div class="caption">
        <a href="/pages/dagomba_dance_drumming"><h5>Dagomba Dance Drumming</h5></a>
      </div>
    </div>
  </li>
</ul>
