<h2 class="featured_collections_header">Featured</h2>
<div class="featured_collections container">
<% count = 0 %>
<% featured_collections&.each do |c| %>
  <% if [0,3,6,9].include?(count) %>
    <div class="row g-10">
  <% end %>
    <% # Use a random item, if this box is the featured_item box %>
    <% c = c[:featured_items].sample if(c.has_key?(:featured_items))  %>
      <div class="featured_collection col-md-4">
        <div class="flipper">
          <div class="card_front">
            <%= image_tag("featured_collections/#{c[:image]}", alt: c[:alt]) %>
            <div class="collection_title"><%=c[:title]%></div>
          </div>
          <div class="card_back">
            <p><%=c[:description] %></p>
            <a class="btn btn-primary"
               href="<%=c[:link]%>"
               role="button"
               <%= 'target="_blank"' if c[:link].starts_with?('http') %>
            ><%=c[:link_text]%></a>
          </div>
        </div>
      </div>
  <% if [2,5,8,11].include?(count) %>
    </div>
  <% end %>
  <% count += 1 %>
<% end %>
</div>