<%= render "shared/item_header" %>

<div class="col-md-12 tdl-content">
  <div class="row col-md-6">
    <audio controls="controls" preload="metadata" width="445px" height="40px">
      <source src="<%= @media_play_path %>?file=mp3" type="audio/mpeg">
      <source src="<%= @media_play_path %>?file=ogg" type="audio/ogg">
      Your browser does not support the audio tag.
    </audio>
<%
if @document_tei.present?
  transcript_html, participant_html = TranscriptsHelper.show_transcript(@document_tei, true, Rails.application.routes.url_helpers.hyrax_audio_path(params[:id]))

  unless participant_html.empty?
%>
    <br>
    <div class="participant_div">
      <b>Participants</b><br>
      <%= raw participant_html %>
    </div>  <!-- participant_div -->
<%
  end
end
%>
  </div>

  <div class="col-xs-6">
<% if @document_tei.present? %>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#information">Information</a></li>
      <li><a data-toggle="tab" href="#transcript">Transcript</a></li>
    </ul>

    <div class="tab-content">
      <div id="information" class="tab-pane active">
        <%= render "shared/metadata" %>
      </div>

      <div id="transcript" class="tab-pane">
        <a href="<%= Rails.application.routes.url_helpers.audio_transcriptonly_path(params[:id]) %>" class="pull-right"><h6>view transcript only <i class="icon-share"></i></h6></a>
        <br>
        <div class="transcript_box">
          <%= raw transcript_html %>
        </div>  <!-- transcript_box -->
      </div>
    </div>
<% else %>
  <%= render "shared/metadata" %>
<% end %>
  </div> <!-- right column -->
</div>


<script>
  $(document).ready(function() {
    $('video, audio').mediaelementplayer({
      success: function (mediaElement, originalNode, instance) {
        var transcriptScroller = TranscriptScroller(mediaElement);

        mediaElement.addEventListener('timeupdate', function () {
          transcriptScroller.scrollTranscript(mediaElement.currentTime);
        });

        $('.transcript_chunk_link').on("click", function (e) {
          e.preventDefault()
          transcriptScroller.jumpPlayerTo($(e.currentTarget).data('time') / 1000);
        });
      }
    });
  });
</script>
