<div id="header-navbar" class="navbar navbar-fixed-top">
  <div class="blueline">
    <div class="container">
      <%= render '/user_util_links' %>
    </div>
  </div>

  <div class="main-nav-content container">
    <div class="logo">
      <%= link_to application_name, '/' , class: "navbar-brand" %>
    </div>
    <div class="right-nav">
      <div id="main_nav">
        <ul class="tdl-right-nav">
          <li><%= link_to 'Contact', '/contact' %></li>
          <li><%= link_to 'About', '/about' %></li>
          <li><a href="">Search</a></li>
        </ul>
      </div>
      <% if(controller.action_name == "show") %>
        <button type="button" id="comment-button" class="btn" data-toggle="modal" data-target="#commentModal">
          Comments about this page?
          <span class="glyphicon glyphicon-comment glyph-right" aria-hidden="true"></span>
        </button>
      <% end %>
    </div> <!-- End navbar-right -->
  </div> <!-- End container -->

  <div id="tufts-searchbar">
  <% if(controller.action_name == "show") %>
    <div class="container">
      <#%= render 'shared/back_to_search' %>
      <#%= render 'shared/download_options' %>
    </div>
  <% elsif controller.action_name == 'fa_overview' || controller.action_name == 'fa_series'%>
    <div class="container">
      <%= render 'shared/finding_aid_breadcrumbs' %>
    </div>
  <% elsif controller.action_name == 'audio_transcriptonly' || controller.action_name == 'video_transcriptonly'%>
    <div class="container">
      <%= render 'shared/transcriptonly_options' %>
      <%= render 'shared/download_options' %>
    </div>
  <% else %>
    <div class="navbar-center">
      <% unless(controller_name.in?(['contribute', 'templates', 'records', 'sessions'])) %>
        <%= render_search_bar %>
          <div id='search_link'>
            &nbsp; <%# TODO = link_to 'Advanced Search', advanced_search_path %>
          </div>
      <% end %>
    </div> <!-- End navbar-center -->
  <% end %>
  </div> <!-- End tufts-searchbar -->
</div>
