<header>
  <nav>
    <div class="masthead-nav upper">
      <ul>
        <li>
          <%= link_to(
                '#',
                data: { toggle: "modal", target: "#aeon-cart-modal" }
              ) do %>
            My List (<span class="listCount">0</span>)
            <span class="icon-flipped glyphicon glyphicon-shopping-cart glyph-left" aria-hidden="true"></span>
          <% end %>
        </li>
        <li>
          <% if has_user_authentication_provider? %>
            <% if current_user %>
              <%= link_to t('blacklight.header_links.logout'), main_app.destroy_user_session_path %> <%= "[#{ current_user.to_s }]".html_safe unless current_user.to_s.blank? %>
            <% else %>
              <%= link_to t('blacklight.header_links.login'), main_app.new_user_session_path %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="masthead-nav lower">
      <ul>
        <li><%= link_to 'Contact', hyrax.contact_path + contact_with_url(controller_name, action_name) %></li>
        <li><%= link_to 'Help', hyrax.help_url %></li>
        <li><%= link_to 'About', hyrax.about_url %></li>
      </ul>
    </div>
  </nav>

  <a class="no-underline masthead-wrapper" href="/">
    <div class="masthead-logo">
      <span class="logo-text">
        <span class="only-for-screen-readers">Tufts</span> Digital Library
      </span>
    </div>
  </a>
</header>
